{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block toggle_login %}{% endblock %}

{% block heading %}
    <h2>Login</h2>
{% endblock %}

{% block content %}
    <form action="{% url "bookmarks_login" %}" method="post" accept-charset="utf-8">
        {{ form|crispy }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <input class="btn btn-default" type="submit" value="Login">
    </form>
{% endblock %}